requests~=2.31.0
gspread
openpyxl
pandas~=2.0.2
streamlit~=1.23.1
streamlit-option-menu
streamlit-aggrid==0.3.4
streamlit-on-Hover-tabs
streamlit-tags
streamlit-authenticator
streamlit-extras
streamlit-qrcode-scanner
pyodbc
plotly~=5.15.0
PyPDF2
Pillow~=9.5.0
secure-smtplib
pycep-correios
geopy
dash
dash_bootstrap_components
hasher
extra-streamlit-components
randompw-generator
exception
jwt
bcrypt
PyYAML
Deta
pywhatkit
pyautogui~=0.9.54
matplotlib~=3.7.1
streamlit-toggle-switch
streamlit-ace
streamlit-camera-input-live
streamlit-webrtc
xmltodict
PyMySQL~=1.0.3
streamlit-back-camera-input
